html {
    background: linear-gradient(100deg, color(display-p3 0.468 0.388 0.607) 13.57%, color(display-p3 0.3529 0.2118 0.7529) 98.38%);
    min-height: 100vh;
    color: white;
}

body {
    font-family: sans-serif;
    text-align: center;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h1 {
    font-size: 3rem;
    margin-bottom: 0;
    text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
}

h4 {
    font-size: 1rem;
    margin-bottom: 0;
    text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
}

.synth {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    margin-top: 20px;
}

.note {
    width: 60px;
    height: 200px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.1s, box-shadow 0.1s;
    position: relative;
}
.note.active {
    background-color: #f0f0f0;
    transform: translateY(5px);
}
.note:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 25px;
    height: 60px;
    border-radius: 0 0 5px 5px;
}
.note:hover:not(.active) {
    background-color: #eee;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}
.note:active {
    transform: translateY(15px);
    box-shadow: none;
}
.note:nth-child(1) {
    background-color: #225f75;
}
.note:nth-child(2) {
    background-color: #1f5669;
}
.note:nth-child(3) {
    background-color: #1b4c5e;
}
.note:nth-child(4) {
    background-color: #184352;
}
.note:nth-child(5) {
    background-color: #143946;
}
.note:nth-child(6) {
    background-color: #11303b;
}
.note:nth-child(7) {
    background-color: #0e262f;
}
.note:nth-child(8) {
    background-color: #0a1c23;
}

#waveform {
    margin-top: 20px;
    padding: 8px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: color(display-p3 0.468 0.388 0.607) ;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
}
#waveform:hover {
    background-color: #f0f0f0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
#waveform:focus {
    outline: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 0 0 2px #3498db;
}



